<a href="https://colab.research.google.com/github/rishjaat23/rishjaat23/blob/main/fsds_session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
### Basic data type in pythan

In [4]:
## Operators:
1. arithematic operator:
    1. + -> addition
    2. - -> sub
    3. * -> mul
    4. / -> div
2. Special Operators:
    1. Identity
    2. membership

SyntaxError: ignored

In [5]:
### Restrcition during defining:
- should start with special/symbols char, numbers, space
- should start with lower case

SyntaxError: ignored

In [8]:
physic = 100 
math = 100
social = 101
# stdname =
stdname = [100,100,101] #List datastructure
string1 = "Banglore in  india"

In [9]:
a = 10
b = 1
l1 = [10,100,10.5, 'Bangalore in India', True]

In [10]:
a in l1

True

In [11]:
b in l1

True

In [13]:
"india" in string1

True

In [16]:
### Conditional Statement:
> English logical statemnt: check for person age, if his *age is gretaer tha 18, then that *person is adult*.

> English logical statemnt: check for person age, if his *age is gretaer tha 18, then that **person is adult* else *peroson is not adult.*

> English logical statemnt: check for person age, if his *age is gretaer tha 18  and less than  50, then that **person is adult, if his **age is greater then 50, the **person is senior*, if age is niether any of the above person is "minor"

SyntaxError: ignored

In [17]:
#### type:
1. if -> 1 condition, 1 decision to make
2. if else -> 1 condition and 2 decision to make 
3. if elif else -> more than 1 conditiona and more than one decision to make

SyntaxError: ignored

In [19]:
### If statements:
Syntax:
if <condition>:
    satemen
    desision
<remaning statement>

SyntaxError: ignored

In [20]:
age = 20
if age > 18: # 20 > 18 -> True/satisfied
    print("person is adult")
print("ends here")

person is adult
ends here

In [23]:
type casting : # number is +ve or not:
num = input("Enter a number: ") # num = "3"
num = int(num)
print(type(num))
if num > 1:
    print("Number is +ve")
print("ends here")

SyntaxError: ignored

In [22]:
# number is +ve or not:
num = int(input("Enter a number: ")) # num = "3"
print(type(num))
if num > 1:
    print("Number is +ve")
print("ends here")

Enter a number: 3
<class 'int'>
Number is +ve
ends here

In [26]:
age = int(input("Enter an age: "))
if age> 18:
    print("Adult")
else:
    print("not adult")
pritn("Ends here")

Enter an age: 20
Adult

NameError: ignored

In [29]:
### if elif else
age = int(input("Enter an age: "))
if age >= 18 and age < 50:
    print("Adult")
elif age > 50:
    print("Senior")
else:
    print("minor")

Enter an age: 52
Senior

In [30]:
## Loooping statement:
- we want to runa block of code for certain period times(5 times)
- type:
1. while
2. for

SyntaxError: ignored

In [31]:
Sytax:
for <iter_var> in <iterator-list,'string'/range()>:
    <statenenrt/blaovk of code>

SyntaxError: ignored

In [32]:
for i in range(1,6):
    print("<--Hello world")
    print("Welocome to bangalore--->")

<--Hello world
Welocome to bangalore--->
<--Hello world
Welocome to bangalore--->
<--Hello world
Welocome to bangalore--->
<--Hello world
Welocome to bangalore--->
<--Hello world
Welocome to bangalore--->

In [33]:
for i in range(1,11): # 1,2,3,4,5,6,7,8,9,10 -> i = 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [34]:
l1 = [10, 100, 10.5, 'Bangalore in India', True]
for i in l1:
    print(i)

10
100
10.5
Bangalore in India
True

In [35]:
str1 = "Bangalore is beautiful city in india"
str2 = "Bangalore"

In [38]:
## Strings operatons:
- set of char stored in ""/' ' quotes

SyntaxError: ignored

In [39]:
## string indexing:
- indexing is used to access each element/char from string.
- type: +ve and -ve indexing

SyntaxError: ignored

In [40]:
0  1  2 3 4 5  6  7  8
"B  a  n g a l  o  r  e"
-9 -8....     -3 -2  -1

SyntaxError: ignored

In [41]:
str2[0]

'B'

In [42]:
str2[1]

'a'

In [43]:
str2[-9]

'B'

In [44]:
str1

'Bangalore is beautiful city in india'

In [45]:
str1[9]

' '

In [46]:
str1[10]

'i'

In [47]:
str1[0:9]

'Bangalore'

In [48]:
str1[0:8]

'Bangalor'

In [49]:
str1[13:22]

'beautiful'

In [52]:
str1.index('i')

10

In [53]:
str1.index('b')

13

In [55]:
str1.index('india')

31

In [56]:
str1

'Bangalore is beautiful city in india'

In [57]:
str1.capitalize()

'Bangalore is beautiful city in india'

In [58]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [59]:
str1.title()

'Bangalore Is Beautiful City In India'

In [60]:
str1.upper()

'BANGALORE IS BEAUTIFUL CITY IN INDIA'

In [61]:
str1.lower()

'bangalore is beautiful city in india'

In [62]:
str1.isupper()

False

In [68]:
l2 = [10,100,200,10,200,100]
ll =[]
ele = int(input('Enter duplicate elento to find its idnex:'))
for i,v in enumerate(l2):
    if ele == v:
        ll.append(i)
print(ll)

Enter duplicate elento to find its idnex:3
[]

In [64]:
l2 = str1
ll =[]
ele = input('Enter duplicate elento to find its idnex:')
for i,v in enumerate(l2):
    if ele == v:
        ll.append(i)
print(ll)

Enter duplicate elento to find its idnex:7
[]