<a href="https://colab.research.google.com/github/rishjaat23/rishjaat23/blob/main/FSDS_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List :

## Characteritics:
1. store mulplit values and different datatype values
2. update as well add values in list.(mutable in nature)
3. list can store duplicate values
4. rep: using [ ] brackets.

In [1]:
a_lst = [1,2,3,None]

In [2]:
b_lst = [10,20,"Bangalore",10.5,True]

In [3]:
nes_lst=[1,2,[3,4],5]

In [7]:
0   1      2       3     4     -> +ve
[10, 20, 'Bangalore', 10.5, True]
-5   -4   -3           -2     -1     -> -ve

SyntaxError: ignored

In [8]:
0  1   ---2--  3
[1, 2, [3, 4], 5]

SyntaxError: ignored

In [9]:
## Slicing in list
-syntax:
<list_var>[start:stop:step]

SyntaxError: ignored

In [10]:
b_lst.append("Mumbai") # appnd adds ele at the end of list

In [11]:
b_lst.pop()# Removes eleme frrom end of list

'Mumbai'

In [12]:
b_lst

[10, 20, 'Bangalore', 10.5, True]

In [14]:
b_lst.pop(1)

20

In [15]:
b_lst

[10, 'Bangalore', 10.5, True]

In [16]:
b_lst.insert(2,"Mumbai")

In [17]:
b_lst

[10, 'Bangalore', 'Mumbai', 10.5, True]

In [18]:
b_lst.remove(True)

In [19]:
b_lst

[10, 'Bangalore', 'Mumbai', 10.5]

In [20]:
l2=[10,80,60,1,2,3,7,6]
l2

[10, 80, 60, 1, 2, 3, 7, 6]

In [21]:
l2.sort()

In [22]:
l2

[1, 2, 3, 6, 7, 10, 60, 80]

In [24]:
l2.sort(reverse=True)

In [25]:
l2

[80, 60, 10, 7, 6, 3, 2, 1]

In [27]:
## Dictionary
- store multi and different data types
- way of storeing is in the form of ``keys:values``
- it wont allow duplicates inside
- it wont allow indexing

- rep: { keys: values,...... }

SyntaxError: ignored

In [26]:
d1 = {"a":1,"b":2,"c":3}
d1

{'a': 1, 'b': 2, 'c': 3}

In [28]:
d2 = {'a': 1, 'b': 2, 'c': 3, "c":3, "a":11,"b":12}
d2

{'a': 11, 'b': 12, 'c': 3}

In [29]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [30]:
d1[1]

KeyError: ignored

In [31]:
d1['b']

2

In [32]:
d1["a":"c"]

TypeError: ignored

In [35]:
d1["City"] = "London"

In [ ]:
File Operation

In [36]:
f = open(path)
for i in f:
    print(i)
f.close()

NameError: ignored

In [37]:
f = open(path)
content = f.read()
f.close()
content

NameError: ignored

In [ ]:
### Diferent modes in file operations:
  


| Mode  |  Description |
|:--|:--|
|  r |  Read-only mode |
|  w |  Write-only mode; creates a new file (erasing the data for any file with the same name) |
|  x |  Write-only mode; creates a new file, but fails if the file path already exists |
|  a |  Append to existing file (create the file if it does not already exist) |
|  r+| Read and write |

In [38]:
f = open(path1,mode='x')
content = f.write("Jigsaw")
f.close()
content

NameError: ignored

In [ ]:
Pandas for Data Science

In [39]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [40]:
labels = ["a","b","c","d","e","f"]

In [41]:
l2 = [1,2,3,4,5,6]

In [42]:
import pandas as pd
s = pd.Series(l1)
s

NameError: ignored

In [43]:
s = pd.Series(data=l2,index=labels)
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [ ]:
## *Core components of pandas: Series and DataFrames*

> A *Series* is essentially a column, and a *DataFrame* is a multi-dimensional table made up of a *collection of Series*.

*1. Series*
  - A Series is a one-dimensional array which is very similar to a NumPy array.
  - What differentiates Series from NumPy arrays is that series can have an access labels with which it can be indexed.

In [44]:
s.astype('float64')

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
dtype: float64

In [45]:
d1

{'City': 'London', 'a': 1, 'b': 2, 'c': 3}

In [47]:
s2 = pd.Series(d1)
s2

a            1
b            2
c            3
City    London
dtype: object

In [48]:
s['c']

3

In [49]:
s2['b']

2

In [52]:
data={"name":["Bill","Tom","Tim","John","John","Alex","Vanessa","Kate"],      
      "score":[90,80,85,75,75,95,60,65],      
      "sport":["Wrestling","Football","Skiing","Swimming","Swimming","Tennis",
               "Karete","Surfing"],      
      "sex":["M","M","M","M","M","F","F","F"]}
lables = ["a",'b','c','d','e','f','g','g']

In [65]:
df1 = pd.DataFrame(data,index=labels)

ValueError: ignored

In [55]:
df1

      name  score      sport sex
0     Bill     90  Wrestling   M
1      Tom     80   Football   M
2      Tim     85     Skiing   M
3     John     75   Swimming   M
4     John     75   Swimming   M
5     Alex     95     Tennis   F
6  Vanessa     60     Karete   F
7     Kate     65    Surfing   F

In [56]:
df1.dtypes# object-> string or combination

name     object
score     int64
sport    object
sex      object
dtype: object

In [57]:
df1.name

0       Bill
1        Tom
2        Tim
3       John
4       John
5       Alex
6    Vanessa
7       Kate
Name: name, dtype: object

In [58]:
df1.reset_index()

   index     name  score      sport sex
0      0     Bill     90  Wrestling   M
1      1      Tom     80   Football   M
2      2      Tim     85     Skiing   M
3      3     John     75   Swimming   M
4      4     John     75   Swimming   M
5      5     Alex     95     Tennis   F
6      6  Vanessa     60     Karete   F
7      7     Kate     65    Surfing   F

In [59]:
df1

      name  score      sport sex
0     Bill     90  Wrestling   M
1      Tom     80   Football   M
2      Tim     85     Skiing   M
3     John     75   Swimming   M
4     John     75   Swimming   M
5     Alex     95     Tennis   F
6  Vanessa     60     Karete   F
7     Kate     65    Surfing   F

In [62]:
ll = ['name',"score"]
df1[ll]

      name  score
0     Bill     90
1      Tom     80
2      Tim     85
3     John     75
4     John     75
5     Alex     95
6  Vanessa     60
7     Kate     65

In [66]:
df1.loc[df1.duplicated(),:]

   name  score     sport sex
4  John     75  Swimming   M

In [67]:
df1.nunique()

name     7
score    7
sport    7
sex      2
dtype: int64

In [68]:
df1.loc[(~df1.duplicated()),:]

      name  score      sport sex
0     Bill     90  Wrestling   M
1      Tom     80   Football   M
2      Tim     85     Skiing   M
3     John     75   Swimming   M
5     Alex     95     Tennis   F
6  Vanessa     60     Karete   F
7     Kate     65    Surfing   F

In [69]:
df1.drop_duplicates(inplace = True)

In [70]:
df1

      name  score      sport sex
0     Bill     90  Wrestling   M
1      Tom     80   Football   M
2      Tim     85     Skiing   M
3     John     75   Swimming   M
5     Alex     95     Tennis   F
6  Vanessa     60     Karete   F
7     Kate     65    Surfing   F

In [ ]:
we use only () paranthesis for functional dependecies, and [] to initiat or input data from user side

In [71]:
df1.drop("sport",axis=1,inplace=True)# axis=0 theserach starts from rows, axis=1-> columns

In [72]:
df1

      name  score sex
0     Bill     90   M
1      Tom     80   M
2      Tim     85   M
3     John     75   M
5     Alex     95   F
6  Vanessa     60   F
7     Kate     65   F

In [ ]:
Conitional Selection over DF

In [73]:
data={"name":["Bill","Tom","Tim","John","John","Alex","Vanessa","Kate"],      
      "score":[90,80,85,75,75,95,60,65],      
      "sport":["Wrestling","Football","Skiing","Swimming","Swimming","Tennis",
               "Karete","Surfing"],      
      "sex":["M","M","M","M","M","F","F","F"]}
lables = ["a",'b','c','d','e','f','g','g']

df1 = pd.DataFrame(data,index=labels)

df1

ValueError: ignored

In [74]:
df1.loc[df1.score>80,:]

   name  score sex
0  Bill     90   M
2   Tim     85   M
5  Alex     95   F

In [76]:
df1.loc[df1.sex == "M"]

   name  score sex
0  Bill     90   M
1   Tom     80   M
2   Tim     85   M
3  John     75   M

In [81]:
df1.loc[(df1.score>45)&(df1.sex == "M")&(df1.sport== "Swimming"),:]

AttributeError: ignored

In [82]:
df.Property_Area.value_counts()

NameError: ignored