<a href="https://colab.research.google.com/github/rishjaat23/rishjaat23/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
imort numpy as np

SyntaxError: ignored

In [ ]:
import pandas as pd

In [ ]:
#Data analysis, Data Manipulation
#load # Manipulate #Prepare # Model # Analyze

In [ ]:
#Load

In [ ]:
df.C:\Users\Rishabh\Desktop\File

In [2]:
df.isne()

NameError: ignored

In [ ]:
df.nunique()

In [ ]:
df['Invoices'].unique()

In [ ]:
df['make'].unique()

In [ ]:
df.boxplot(column='EngineSize')

In [ ]:
df.boxplot(column='Cylinders')

In [ ]:
plt.figure(figsize = (14,4))
sns.boxplot(data=df, x='Type', y='MPG_City')

In [ ]:
plt.figure(figsize = (14,4))
sns.boxplot(data=df, x = 'Make', y = 'Weight')
plt.xticks(rotation =45)
plt.show()

In [ ]:
chev =df[df['Make']== 'Chevrolet']

In [ ]:
q1 = chev["Weight"].quantile(0.25)
q3 = chev["Weight"].quantile(0.75)
iqr = q3 - q1
          
lw = q1-1.5*iqr
uw = q3+1.5*iqr
lw,uw

In [ ]:
df.weight.skew()

In [ ]:
#skewness of 0 indicates that the data is symmmetrical 
#-ve skewness indicate asymetry with tail larger toward the lleft hand side of distributio

In [ ]:
df.MPG_City.plot.kde()

In [ ]:
to correct skewness 
#logarithm

In [ ]:
np.log(df.MPG_City).plot.kde()

In [ ]:
voting_age = [1000,2,4,8,3,8,11,15,12,6,6,3,6,7,12,9,5,5,7,10,10,11,13,14,14]

In [12]:
mean = np.mean(voting_age)

NameError: ignored

In [13]:
mean

NameError: ignored

In [7]:
std = np.std(voting_age)

NameError: ignored

In [8]:
std

NameError: ignored

In [ ]:
print('Mean of voting age in the dgive series:',std)
print('Standard Deviation of voting age in the given series:',std)

In [ ]:
threshold = 3
outlier = []

for i in voting_age:
    z = (i-mean)/ std
    if z>threshold:
        outlier.append(i)
print('Outlier in the dataset:',outlier)

In [ ]:
age = [1,2,3,4,5,6,7,8,9,10,1000,10000]

In [ ]:
mean = np.mean(age)

In [16]:
std = np.std(age)

NameError: ignored

In [14]:
threshold = 4
outlier = []

for i in voting_age:
    z = (i-mean)/ std
    if z>threshold:
        outlier.append(i)
print('Outlier in the dataset:',outlier)

NameError: ignored

In [ ]:
boxing_weight = [25,30,35,40,45,35,50,60,120,150]

In [ ]:
Q1 = np.percentile(boxing_weight, 25, interpolation ="midpoint")

In [ ]:
Q2 = np.percentile(boxing_weight, 50, interpolation ="midpoint")

In [ ]:
Q3 = np.percentile(boxing_weight, 75, interpolation ="midpoint")

In [ ]:
IQR =Q3-Q1

In [17]:
print('Interqaurtile Range is:', IQR)

NameError: ignored

In [ ]:
low_lim = Q1 - 1.5*IQR

In [ ]:
uo_lim = Q3 + 1.5*IQR

In [ ]:
print('llow_lim is:', low_lim)
print('up_lim is:', up_lim)

In [ ]:
outlier = []

for x in boxing_weight:
    if((x>up_lim) or (x< low_lim)):
        outlier.append(x)
print('outlier in the dataset is:', outlier)

In [26]:
df2= pd.read_excel(r"C:\Users\Rishabh\Desktop\File\Exercise2_fsds_8may.xlsx",header=1)

NameError: ignored

In [ ]:
sns.boxplot(df2.Marks)

In [ ]:
random_state = np.random.RandomState(42)

In [ ]:
random_state = np.random.RandomState(42)

In [ ]:
model = IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.2),random_state=random_state)

In [ ]:
model.fit(df2[['Marks']])

In [ ]:
print(model.get_params())

In [ ]:
df2['scores']=model.decision_function(df2[['Marks']])

In [ ]:
df2['anomaly_score']= model.predict(df2[['Marks']])

In [ ]:
df2[df2['anomaly_score']==-1].head()

In [ ]:
data = [1,2,2,2,3,1,1,15,2,2,2,3,1,1,200,1000]
threshold = 3

In [ ]:
mean = np.mean(data)

In [ ]:
std = np.mean(data)

In [27]:
print('mean of the dataset is:',mean)
print('standard deviation of the dataset is:',std)

NameError: ignored

In [ ]:
Name:  Alex, Bob, Hammad, Saurav, Arushi
CGPA: 6,19,258,606,2000
Placement_exam_marks: 6.69,7.63,6.12,6.79,100
placed:0,0,1,1,0